extends ./layout/index

block content
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")

            .col-md-7
                h1= pagina

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet lorem sed condimentum venenatis. Suspendisse dignissim faucibus tincidunt. Aliquam ac nunc leo. Ut in euismod tellus, ut ultricies dui. Nunc eget convallis lorem. Etiam enim nisl, accumsan ut sodales at, pretium in turpis. Aenean vel consequat lectus. Fusce fermentum a urna vel pretium. Donec luctus tempor mauris, nec sodales sapien maximus sed. Nunc ut ipsum nulla. Pellentesque in tellus urna. Sed dapibus magna ac mauris euismod accumsan. Integer volutpat consectetur orci. Praesent ut felis eros.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet lorem sed condimentum venenatis. Suspendisse dignissim faucibus tincidunt. Aliquam ac nunc leo.

    .listado-iconos     
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet lorem sed condimentum venenatis. Suspendisse dignissim faucibus tincidunt. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet lorem sed condimentum venenatis. Suspendisse dignissim faucibus tincidunt. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet lorem sed condimentum venenatis. Suspendisse dignissim faucibus tincidunt. 


